.weather {
    min-width: 275px;
    min-height: 545px;
    max-width: 275px;
    max-height: 545px;
    background-color: plum;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

.main {
    min-width: 260px;
    min-height: 530px;
    max-width: 260px;
    max-height: 530px;
    border: 7px solid black;
    background-color: #9c45df;
    border-radius: 30px;
}